.btn1 {
    padding-right: 15px;
    background-color: #317131;
    color: white;
  }
  
  .btn2 {
    background-color: #fff;
    color: #317131;
    border: 2px solid #317131;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;


}
.btn1:hover{
   background-color: #143114;
}
.btn2:hover{
    background-color: #317131;
    color: #fff;
}
  .bttn{
    padding-left: 30px;
  }
  